.pagination {
  text-align: center;
  margin: 2rem;
}

.posts {

  &.index {
    font-size: .8rem;
    color: $gray-dark;
  }

  &.newer {
    margin-right: 1rem;
  }

  &.older {
    margin-left: 1rem;
  }
}
