
/** Shared between posts and post */

.post-tags > a {
  padding: .15rem .25rem;
  font-size: .55rem;
  transition: all $aside-animation-time;
  text-transform: uppercase;
  color: $gray-lightest;
  border-radius: .25rem;
  background-color: rgba($primary-color, .45);
  &:hover {
    background-color: rgba($primary-color, 1);
  }
}

.post-title {
  font-size: $font-title;
  margin: 3rem 0 2.5rem;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }
}

/*  */

#post-author {
  img {
    display: inline-block;
    height: 22px;
    margin: 0 .5rem;
    vertical-align: middle;
    border: 0;
    box-shadow: none;
  }
}

#post-image {
  max-width: 100%;
  margin-top: 1rem;
}

#post-header {
  text-align: center;
  margin: .7em 0;
  font-size: .85rem;
  color: $gray;
}

#post-content {

  a {
    @extend %dotted-link;
  }

  > p {
    > img {
      border-radius: $border-radius;
      display: block;
      margin: 1.5rem auto;
      max-width: 100%;
      text-align: center;
      width: auto;
    }
  }

  > pre {
    width: 95%;
  }
}

#post-comments {
  padding: 2rem 0 0;
}
