#search-form {
  padding: .25rem 0;
}

#search-input {
  width: 12.5rem;
  height: 1rem;
  padding: 4% 5px 4% 18px;
  transition: border .3s ease-in;
  border-radius: 1.68rem;

  &:focus,
  &:hover {
    border: 1.5px solid lighten($hover-color, 5%);
  }
}

.icon-search {
  position: absolute;
  top: 31.5rem;
  left: 16.5rem;
  color: $gray;
  text-shadow: 1px 1px 0 $gray;
}
